d>
			<title>Main page - About me!</title>
	</head>
	<body>
		<center><h1>Information</h1></center>
		Gabba gabba hey!
		<br/><br/>
		<center><img alt="A cat" 
	       src="https://i.pinimg.com/736x/a0/d3/24/a0d324d06b129b21393470765bdba93c.jpg">
		</center>
		<br/><br/>
		<font style="color:green">This text is green</font>
		<br/><br/>
		<b>Just text</b>
		<br/><br/>
		Example
		<br/><br/>
		Good buy!
	</body>
</html>
